# Clerk Authentication Config
# (Find these credentials in your Clerk Dashboard: https://dashboard.clerk.com)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Database Credentials & Port Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory
DATABASE_URL=postgresql://postgres:postgres@db:5432/inventory
